*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color : rgb(114, 186, 186);
    --color2 : rgb(227, 153, 210);
    --gradient: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    --white : white;
    --box-shadow: 5px 20px 52px rgb(100, 88, 88, 0.8);
    --border-radius: 8px;
    --width: 300px;
    --margin: 30px auto;
    --padding: 30px 20px;  
  }
  
  li{
    list-style: none;
    display: inline;
    margin: 15px;
    margin-top: 150px;
    padding-top: 10px;
    background-color: var(--color);
    border-radius: var(--border-radius);
  
  }
  
  li:hover{
    background-color: #ffd1ff;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.4);
    color: var(--color);
  }
  
  a{
    text-decoration: none;
    color: var(--white);
  }
  